*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Playfair Display", serif; 
    text-decoration: none;
    list-style: none;
 }
  

  .header {
    background: rgba(0, 0, 0, 0.9);
    padding: 20px 12%;
    display: flex;
    align-items: center;
  }
  
  .header .logo {
    font-size: 22px;
    color: white;
    font-weight: 700;
    transition: 0.3s ease;
  }
  
  .header .logo:hover {
    color: orangered;
    text-shadow: 0 0 15px orangered, 0 0 30px orangered;
  }
  
  .header .logo span {
    color: orangered;
  }
  .footer {
    background-color: black;
    padding: 20px 12%;
    text-align: center;
  }
  
  .footer p {
    font-size: 16px;
    color: white;
    margin: 0;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .about-container h1 {
      font-size: 48px;
    }
  
    .about-container p {
      font-size: 18px;
    }
  }